{% extends 'index.html' %}
{% load staticfiles %}



{% block body %}
    <table>
    <thead>
    <tr>
        <th>#</th>
        <th>Item name</th>
        <th>Item price</th>
        <th>High alchemy profit</th>
    </tr>
    </thead>
    {% for item in items %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td><a class="link" href="http://runescape.wikia.com/wiki/{{ item.item.name }}">{{ item.item.name }}</a></td>
        <td class="number">{{ item.item.price_info.exact }}</td>
        <td class="number">{{ item.highalch_profit }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}